#background {
    position: relative;
    background-image: url(../images/background2.png);
    background-color: #414a4c;
    height: 100vh;
}

.rocket {
    position: absolute;
    background-image: url(../images/spaceship\ wena.png);
    background-size: cover;
    background-position: center;
    height: 8vh;
    width: 3vw;
    border-radius: 50%;
}

.rock {
    position: absolute;
    background-image: url(../images/rock.png);
    background-size: cover;
    background-position: center;
    height: 20vh;
    width: 10vw;
    border-radius: 50%;
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.pew {
    position: absolute;
    background-image: url(../images/brightness.png);
    background-size: cover;
    background-position: center;
    height: 1vh;
    width: 0.5vw;
    border-radius: 50%;
    outline: 1px solid;
}

#start {
    height: 100vh;
    background-image: url(../images/background2.png);
}

#game-over-screen {
    height: 100vh;
    background-image: url(../images/giphy.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

.button {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-left: 585px;
}

h1 {
    display: flex;
    height: 20vh;
    width: 20vw;
    text-align: center;
    color: white;
    font-family: fantasy;
    font-size: 40px;
    padding: 60px 20px 20px 550px;
}

h2 {
    color: white;
    font-family: fantasy;
    font-size: 30px;
    padding: 20px 20px 60px 185px;
}

a {
    text-decoration: none;
    font-size: 20px;
}